
@model GummiBearKingdom.Models.Product
@{
    ViewData["Title"] = "Product - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit this product: " @Html.DisplayFor(model => model.name) ".</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id)

    @Html.LabelFor(model => model.name)
    @Html.EditorFor(model => model.name)

    @Html.LabelFor(model => model.cost)
    @Html.EditorFor(model => model.cost)

    @Html.LabelFor(model => model.origin)
    @Html.EditorFor(model => model.origin)

    <input type="submit" value="Save" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "List")
@Html.ActionLink("Return Home", "Index")