@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A List of our Products:</h2>
<hr />
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origin)
        </th>
      
        <th></th>
    </tr>

    @foreach (var pro in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => pro.name) -- 
            </td>
            <td>
                @Html.DisplayFor(model => pro.cost) -- 
            </td>
            <td>
                @Html.DisplayFor(model => pro.origin) -- 
            </td>       
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = pro.id })
                @Html.ActionLink("Details", "Details", new { id = pro.id })
                @Html.ActionLink("Delete", "Delete", new { id = pro.id })
            </td>
        </tr>

    }
</table>
<p>
    @Html.ActionLink("Add New Product", "Add")
</p>
<p>
    @Html.ActionLink("Return Home", "Index")
</p>